appdirs==1.4.0
beautifulsoup4==4.5.3
click==6.7
coverage==4.3.4
Flask==0.12
github3.py==0.9.6
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
nixbot==0.0
packaging==16.8
py==1.4.32
pyparsing==2.1.10
pytest==3.0.6
pytest-cov==2.4.0
requests==2.13.0
six==1.10.0
uritemplate==2.0.0
waitress==1.0.2
WebOb==1.7.1
WebTest==2.0.25
Werkzeug==0.11.15
